[submodule "irods"]
	path = irods
	url = https://github.com/irods/irods.git 
[submodule "cyverse-irods"]
	path = cyverse-irods
	url = https://github.com/cyverse/cyverse-irods.git
[submodule "scripts/installer-gen"]
	path = scripts/installer-gen
	url = https://github.com/cyverse/installer-gen.git
