[submodule "irods"]
	path = irods
	url = https://github.com/irods/irods.git
	branch = 4.1.10
[submodule "scripts/installer-gen"]
	path = scripts/installer-gen
	url = https://github.com/cyverse/installer-gen.git
